<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<h1>Lista uczniów</h1>
<table>
    <thead>
    <tr>
        <th> Id ucznia: </th>
        <th> Imię: </th>
        <th> Nazwisko: </th>
        <th> Id grupy: </th>
        <th colspan=2>Action</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<studentsArray.length; i++) {%>
    <tr>
        <td><%= (!!locals.studentsArray[i].id) ? locals.studentsArray[i].id : 'No id' %></td>
        <td><%= (!!locals.studentsArray[i].student_name) ? locals.studentsArray[i].student_name : 'No name' %></td>
        <td><%= (!!locals.studentsArray[i].student_surname) ? locals.studentsArray[i].student_surname : 'No surname' %></td>
        <td><%= (!!locals.studentsArray[i].group_id) ? locals.studentsArray[i].group_id : 'No group id' %></td>
        <td><a href="/students/<%= locals.studentsArray[i].id %>/edit"> Edit </a></td>
        <td><a href="/students/<%= locals.studentsArray[i].id %>/remove"> Remove </a></td>
    </tr>
    <% } %>
    </tbody>
</table>
</table>
<a href="/students/add">Dodaj</a><br><br>
<a href="/">Powrót do strony głównej</a>

</body>
</html>
